In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("Churn_Modelling.csv")

In [3]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
dataset.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [5]:
y = dataset['Exited']

In [6]:
X = dataset[['CreditScore','Age','Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary']]

In [7]:
X.shape

(10000, 8)

# One Hot Encoding For Geograhy  feature

In [8]:
Geo = pd.get_dummies(dataset['Geography'], drop_first=True)

In [9]:
Geo

      Germany  Spain
0           0      0
1           0      1
2           0      0
3           0      0
4           0      1
...       ...    ...
9995        0      0
9996        0      0
9997        0      0
9998        1      0
9999        0      0

[10000 rows x 2 columns]

# One Hot Encoding For Gender feature

In [10]:
Gender = pd.get_dummies(dataset['Gender'], drop_first=True)
Gender

      Male
0        0
1        0
2        0
3        0
4        0
...    ...
9995     1
9996     1
9997     0
9998     1
9999     0

[10000 rows x 1 columns]

In [11]:
X = pd.concat([X,Geo,Gender], axis=1)
X.shape

(10000, 11)

In [12]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.20, random_state=45)

In [49]:
from keras.layers import Dense
from keras.models import Sequential
model = Sequential()

In [50]:
model.add(Dense(units=8, activation='relu', input_dim=11))

In [51]:
model.add(Dense(units=8, activation='relu'))

In [52]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_8 (Dense)              (None, 8)                 96
_________________________________________________________________
dense_9 (Dense)              (None, 8)                 72
=================================================================
Total params: 168
Trainable params: 168
Non-trainable params: 0
_________________________________________________________________

In [53]:
model.add(Dense(units=10, activation='relu'))

In [54]:
model.add(Dense(units=1, activation='sigmoid'))

In [55]:
model.get_config()

{'name': 'sequential_2',
 'layers': [{'class_name': 'InputLayer',
   'config': {'batch_input_shape': (None, 11),
    'dtype': 'float32',
    'sparse': False,
    'ragged': False,
    'name': 'dense_8_input'}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_8',
    'trainable': True,
    'batch_input_shape': (None, 11),
    'dtype': 'float32',
    'units': 8,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'GlorotUniform',
     'config': {'seed': None}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_9',
    'trainable': True,
    'dtype': 'float32',
    'units': 8,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'GlorotUniform',
     'config': {'seed': None}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_10',
    'trainable': True,
    'dtype': 'float32',
    'units': 10,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'GlorotUniform',
     'config': {'seed': None}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_11',
    'trainable': True,
    'dtype': 'float32',
    'units': 1,
    'activation': 'sigmoid',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'GlorotUniform',
     'config': {'seed': None}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}}]}

In [56]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_8 (Dense)              (None, 8)                 96
_________________________________________________________________
dense_9 (Dense)              (None, 8)                 72
_________________________________________________________________
dense_10 (Dense)             (None, 10)                90
_________________________________________________________________
dense_11 (Dense)             (None, 1)                 11
=================================================================
Total params: 269
Trainable params: 269
Non-trainable params: 0
_________________________________________________________________

In [57]:
from keras.optimizers import Adam

In [58]:
model.compile(loss='binary_crossentropy', optimizer=Adam(learning_rate=0.0001))

In [59]:
model.get_weights()

[array([[-0.29643416,  0.11985081,  0.12853354,  0.3294627 , -0.24699566,
         -0.20720384,  0.54889256, -0.5447692 ],
        [-0.19235152, -0.45139304, -0.01176369, -0.41918916, -0.36526355,
          0.09938145,  0.28125465,  0.5566824 ],
        [ 0.14258397,  0.31786692, -0.462458  , -0.55482215, -0.01947743,
          0.25303453, -0.05049402,  0.5426305 ],
        [-0.10564068,  0.43497622,  0.01472354, -0.3877408 , -0.48392493,
         -0.3260911 , -0.05746013,  0.23710448],
        [ 0.04833651, -0.15552747,  0.38100708,  0.4431017 ,  0.5380383 ,
         -0.00959897, -0.4026314 ,  0.5415483 ],
        [ 0.40564352, -0.11048782, -0.12825981, -0.4598205 ,  0.33734488,
          0.19582146,  0.36512244, -0.4696155 ],
        [ 0.39799935,  0.21535635,  0.19184238, -0.50572354,  0.24767965,
          0.01789349,  0.25738043,  0.26317453],
        [-0.51423484,  0.03120202, -0.32944864,  0.4695241 , -0.1687001 ,
          0.3641219 ,  0.3830188 ,  0.27636403],
        [-0.06736189,  0.5114872 ,  0.4113078 ,  0.5308003 ,  0.26652122,
          0.25660765,  0.4346859 ,  0.36022025],
        [-0.48981735,  0.01406288, -0.5439055 , -0.4296311 , -0.5158599 ,
         -0.41471893, -0.12343279, -0.5593497 ],
        [-0.5602033 ,  0.42028338, -0.34843355, -0.5590694 ,  0.16886383,
          0.16905648, -0.02912945, -0.12813225]], dtype=float32),
 array([0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 array([[ 0.3801074 ,  0.5591034 ,  0.1158877 ,  0.5574178 , -0.5268028 ,
          0.15407145, -0.12917712, -0.32075655],
        [-0.2502458 ,  0.37393725,  0.10671461,  0.46052474,  0.20174867,
          0.17774963,  0.27390295, -0.04545534],
        [ 0.02009034,  0.1195522 , -0.34469792,  0.40487295, -0.5595427 ,
          0.10845709,  0.58494765,  0.21449721],
        [-0.37546718,  0.30227208,  0.2123431 ,  0.50023323, -0.49342123,
         -0.45180702,  0.34769547, -0.14951229],
        [-0.5813712 ,  0.5682853 , -0.24985906, -0.4864996 , -0.56487733,
         -0.04196447,  0.42589647,  0.10270452],
        [-0.53255445, -0.24911517, -0.22232458, -0.438611  , -0.32056105,
          0.25162244,  0.5477913 , -0.48223698],
        [-0.10228086,  0.27832222, -0.31223986, -0.42063785,  0.2502458 ,
          0.06759232,  0.59205526,  0.4790513 ],
        [-0.18432945, -0.00560963, -0.2512655 ,  0.5049073 ,  0.36721683,
         -0.41038448,  0.17072201,  0.38223785]], dtype=float32),
 array([0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 array([[ 0.2622581 ,  0.44395757,  0.46067452,  0.13397628, -0.03546512,
         -0.18620619, -0.45256793,  0.26064003,  0.50293815,  0.32415468],
        [-0.4632118 ,  0.5177311 , -0.46229273, -0.16030493, -0.02544093,
          0.07602632,  0.22530526,  0.02704662, -0.04032499, -0.49112523],
        [-0.30471218, -0.20023036, -0.19108042,  0.32371324,  0.5106596 ,
          0.5048007 , -0.12968242, -0.23653114,  0.38652134,  0.43895292],
        [-0.55535704, -0.504808  , -0.30877712,  0.17700464, -0.1865181 ,
         -0.00059479,  0.3615805 , -0.38423824, -0.3564059 ,  0.2836123 ],
        [ 0.07558829, -0.1706742 ,  0.5377227 , -0.15758717, -0.07658172,
          0.53128934, -0.2506793 , -0.38863635, -0.44822037, -0.27651876],
        [-0.1697357 ,  0.1292758 , -0.4354794 ,  0.17398578,  0.33127522,
         -0.47591534,  0.12592661,  0.50690854, -0.527711  , -0.53569937],
        [-0.38902122, -0.1474796 , -0.4973545 , -0.31638634,  0.46173632,
         -0.02606106,  0.5488877 ,  0.3058015 , -0.4620192 , -0.23493382],
        [ 0.30205923, -0.02747256, -0.41155398,  0.08046776,  0.3993047 ,
         -0.12867606,  0.34990907, -0.4737746 ,  0.29792458, -0.48583585]],
       dtype=float32),
 array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 array([[ 0.7080329 ],
        [-0.20983058],
        [ 0.19503003],
        [-0.6356961 ],
        [ 0.03067201],
        [-0.53319067],
        [-0.4526158 ],
        [-0.06843144],
        [-0.1755374 ],
        [ 0.2460931 ]], dtype=float32),
 array([0.], dtype=float32)]

In [60]:
model.fit(X_train, y_train, epochs=150)

Epoch 1/150
250/250 [==============================] - 3s 6ms/step - loss: 5219.0306
Epoch 2/150
250/250 [==============================] - 2s 8ms/step - loss: 3447.2396
Epoch 3/150
250/250 [==============================] - 2s 8ms/step - loss: 2395.7064
Epoch 4/150
250/250 [==============================] - 2s 9ms/step - loss: 1489.5813
Epoch 5/150
250/250 [==============================] - 2s 6ms/step - loss: 961.3248
Epoch 6/150
250/250 [==============================] - 3s 10ms/step - loss: 467.4669
Epoch 7/150
250/250 [==============================] - 1s 4ms/step - loss: 209.6406
Epoch 8/150
250/250 [==============================] - 2s 8ms/step - loss: 148.2777
Epoch 9/150
250/250 [==============================] - 2s 9ms/step - loss: 64.4403
Epoch 10/150
250/250 [==============================] - 3s 12ms/step - loss: 34.7294
Epoch 11/150
250/250 [==============================] - 2s 8ms/step - loss: 22.4225
Epoch 12/150
250/250 [==============================] - 2s 7ms/step - loss: 17.4521
Epoch 13/150
250/250 [==============================] - 2s 7ms/step - loss: 12.9983
Epoch 14/150
250/250 [==============================] - 2s 10ms/step - loss: 8.6329
Epoch 15/150
250/250 [==============================] - 2s 9ms/step - loss: 5.3129
Epoch 16/150
250/250 [==============================] - 2s 8ms/step - loss: 4.4280
Epoch 17/150
250/250 [==============================] - 3s 12ms/step - loss: 3.9375
Epoch 18/150
250/250 [==============================] - 3s 12ms/step - loss: 3.7874
Epoch 19/150
250/250 [==============================] - 2s 9ms/step - loss: 3.8120
Epoch 20/150
250/250 [==============================] - 2s 10ms/step - loss: 3.2809
Epoch 21/150
250/250 [==============================] - 3s 10ms/step - loss: 3.5635
Epoch 22/150
250/250 [==============================] - 3s 11ms/step - loss: 3.2791
Epoch 23/150
250/250 [==============================] - 3s 11ms/step - loss: 3.0505
Epoch 24/150
250/250 [==============================] - 3s 11ms/step - loss: 2.7266
Epoch 25/150
250/250 [==============================] - 2s 7ms/step - loss: 2.7684
Epoch 26/150
250/250 [==============================] - 3s 12ms/step - loss: 2.6725
Epoch 27/150
250/250 [==============================] - 2s 7ms/step - loss: 2.6556
Epoch 28/150
250/250 [==============================] - 2s 8ms/step - loss: 2.4837
Epoch 29/150
250/250 [==============================] - 2s 7ms/step - loss: 2.6029
Epoch 30/150
250/250 [==============================] - 2s 7ms/step - loss: 2.2801
Epoch 31/150
250/250 [==============================] - 2s 7ms/step - loss: 2.0889
Epoch 32/150
250/250 [==============================] - 2s 9ms/step - loss: 2.0258
Epoch 33/150
250/250 [==============================] - 2s 7ms/step - loss: 1.8927
Epoch 34/150
250/250 [==============================] - 2s 8ms/step - loss: 1.8431
Epoch 35/150
250/250 [==============================] - 2s 8ms/step - loss: 1.5818
Epoch 36/150
250/250 [==============================] - 1s 5ms/step - loss: 1.4592
Epoch 37/150
250/250 [==============================] - 2s 7ms/step - loss: 1.4816
Epoch 38/150
250/250 [==============================] - 2s 8ms/step - loss: 1.3718
Epoch 39/150
250/250 [==============================] - 2s 9ms/step - loss: 1.2275
Epoch 40/150
250/250 [==============================] - 2s 8ms/step - loss: 1.1522
Epoch 41/150
250/250 [==============================] - 1s 6ms/step - loss: 1.1278
Epoch 42/150
250/250 [==============================] - 2s 9ms/step - loss: 1.0064
Epoch 43/150
250/250 [==============================] - 2s 6ms/step - loss: 1.0616
Epoch 44/150
250/250 [==============================] - 2s 8ms/step - loss: 0.9368
Epoch 45/150
250/250 [==============================] - 2s 7ms/step - loss: 0.9896
Epoch 46/150
250/250 [==============================] - 2s 7ms/step - loss: 1.0254
Epoch 47/150
250/250 [==============================] - 2s 8ms/step - loss: 1.0208
Epoch 48/150
250/250 [==============================] - 2s 9ms/step - loss: 0.9389
Epoch 49/150
250/250 [==============================] - 2s 6ms/step - loss: 0.8776
Epoch 50/150
250/250 [==============================] - 2s 8ms/step - loss: 0.9029
Epoch 51/150
250/250 [==============================] - 2s 9ms/step - loss: 1.1296
Epoch 52/150
250/250 [==============================] - 2s 7ms/step - loss: 0.9010
Epoch 53/150
250/250 [==============================] - 2s 6ms/step - loss: 0.9827
Epoch 54/150
250/250 [==============================] - 2s 6ms/step - loss: 0.8810
Epoch 55/150
250/250 [==============================] - 2s 9ms/step - loss: 0.8513
Epoch 56/150
250/250 [==============================] - 2s 7ms/step - loss: 0.8221
Epoch 57/150
250/250 [==============================] - 2s 9ms/step - loss: 0.8825
Epoch 58/150
250/250 [==============================] - 2s 8ms/step - loss: 0.7452
Epoch 59/150
250/250 [==============================] - 2s 7ms/step - loss: 0.8778
Epoch 60/150
250/250 [==============================] - 2s 7ms/step - loss: 0.8327
Epoch 61/150
250/250 [==============================] - 2s 7ms/step - loss: 0.8039
Epoch 62/150
250/250 [==============================] - 2s 6ms/step - loss: 0.8040
Epoch 63/150
250/250 [==============================] - 2s 7ms/step - loss: 0.7916
Epoch 64/150
250/250 [==============================] - 3s 11ms/step - loss: 0.9463
Epoch 65/150
250/250 [==============================] - 2s 8ms/step - loss: 0.9027
Epoch 66/150
250/250 [==============================] - 2s 8ms/step - loss: 0.8707
Epoch 67/150
250/250 [==============================] - 2s 9ms/step - loss: 0.8561
Epoch 68/150
250/250 [==============================] - 2s 7ms/step - loss: 0.8756
Epoch 69/150
250/250 [==============================] - 2s 8ms/step - loss: 0.7947
Epoch 70/150
250/250 [==============================] - 2s 9ms/step - loss: 0.7560
Epoch 71/150
250/250 [==============================] - 2s 6ms/step - loss: 0.7154
Epoch 72/150
250/250 [==============================] - 2s 8ms/step - loss: 0.7353
Epoch 73/150
250/250 [==============================] - 2s 8ms/step - loss: 0.7511
Epoch 74/150
250/250 [==============================] - 2s 7ms/step - loss: 0.8094
Epoch 75/150
250/250 [==============================] - 2s 7ms/step - loss: 0.7421
Epoch 76/150
250/250 [==============================] - 2s 8ms/step - loss: 0.7053
Epoch 77/150
250/250 [==============================] - 1s 6ms/step - loss: 0.8228
Epoch 78/150
250/250 [==============================] - 2s 8ms/step - loss: 0.8206
Epoch 79/150
250/250 [==============================] - 2s 7ms/step - loss: 0.7757
Epoch 80/150
250/250 [==============================] - 2s 6ms/step - loss: 1.0195
Epoch 81/150
250/250 [==============================] - 2s 8ms/step - loss: 0.7276
Epoch 82/150
250/250 [==============================] - 2s 8ms/step - loss: 0.7589
Epoch 83/150
250/250 [==============================] - 2s 7ms/step - loss: 0.7615
Epoch 84/150
250/250 [==============================] - 2s 8ms/step - loss: 0.7048
Epoch 85/150
250/250 [==============================] - 2s 6ms/step - loss: 0.6575
Epoch 86/150
250/250 [==============================] - 2s 7ms/step - loss: 0.6994
Epoch 87/150
250/250 [==============================] - 2s 7ms/step - loss: 0.6717
Epoch 88/150
250/250 [==============================] - 2s 7ms/step - loss: 0.8844
Epoch 89/150
250/250 [==============================] - 2s 8ms/step - loss: 0.7926
Epoch 90/150
250/250 [==============================] - 2s 7ms/step - loss: 0.7987
Epoch 91/150
250/250 [==============================] - 2s 9ms/step - loss: 0.6783
Epoch 92/150
250/250 [==============================] - 2s 7ms/step - loss: 0.7848
Epoch 93/150
250/250 [==============================] - 2s 8ms/step - loss: 0.7501
Epoch 94/150
250/250 [==============================] - 2s 8ms/step - loss: 0.7104
Epoch 95/150
250/250 [==============================] - 1s 5ms/step - loss: 0.6913
Epoch 96/150
250/250 [==============================] - 2s 7ms/step - loss: 0.8017
Epoch 97/150
250/250 [==============================] - 2s 8ms/step - loss: 0.7394
Epoch 98/150
250/250 [==============================] - 2s 7ms/step - loss: 0.7441
Epoch 99/150

250/250 [==============================] - 2s 8ms/step - loss: 0.6764
Epoch 100/150
250/250 [==============================] - 2s 7ms/step - loss: 0.7942
Epoch 101/150
250/250 [==============================] - 1s 6ms/step - loss: 0.6337
Epoch 102/150
250/250 [==============================] - 2s 7ms/step - loss: 0.6854
Epoch 103/150
250/250 [==============================] - 2s 8ms/step - loss: 0.6733
Epoch 104/150
250/250 [==============================] - 2s 9ms/step - loss: 0.6429
Epoch 105/150
250/250 [==============================] - 1s 6ms/step - loss: 0.7145
Epoch 106/150
250/250 [==============================] - 2s 9ms/step - loss: 0.8114
Epoch 107/150
250/250 [==============================] - 2s 8ms/step - loss: 0.6976
Epoch 108/150
250/250 [==============================] - 2s 7ms/step - loss: 0.6279
Epoch 109/150
250/250 [==============================] - 2s 9ms/step - loss: 0.7323
Epoch 110/150
250/250 [==============================] - 2s 7ms/step - loss: 0.7484
Epoch 111/150
250/250 [==============================] - 2s 6ms/step - loss: 0.6238
Epoch 112/150
250/250 [==============================] - 2s 7ms/step - loss: 0.6758
Epoch 113/150
250/250 [==============================] - 2s 6ms/step - loss: 0.7830
Epoch 114/150
250/250 [==============================] - 2s 8ms/step - loss: 0.7102
Epoch 115/150
250/250 [==============================] - 2s 7ms/step - loss: 0.6500
Epoch 116/150
250/250 [==============================] - 2s 7ms/step - loss: 0.7955
Epoch 117/150
250/250 [==============================] - 1s 5ms/step - loss: 0.7682
Epoch 118/150
250/250 [==============================] - 2s 7ms/step - loss: 0.6918
Epoch 119/150
250/250 [==============================] - 2s 8ms/step - loss: 0.6575
Epoch 120/150
250/250 [==============================] - 2s 9ms/step - loss: 0.7818
Epoch 121/150
250/250 [==============================] - 2s 8ms/step - loss: 0.6736
Epoch 122/150
250/250 [==============================] - 2s 8ms/step - loss: 0.6998
Epoch 123/150
250/250 [==============================] - 2s 8ms/step - loss: 0.6384
Epoch 124/150
250/250 [==============================] - 2s 7ms/step - loss: 0.8019
Epoch 125/150
250/250 [==============================] - 2s 9ms/step - loss: 0.6471
Epoch 126/150
250/250 [==============================] - 2s 7ms/step - loss: 0.6948
Epoch 127/150
250/250 [==============================] - 2s 8ms/step - loss: 0.6558
Epoch 128/150
250/250 [==============================] - 2s 7ms/step - loss: 0.8244
Epoch 129/150
250/250 [==============================] - 2s 8ms/step - loss: 0.7374
Epoch 130/150
250/250 [==============================] - 1s 6ms/step - loss: 0.6877
Epoch 131/150
250/250 [==============================] - 2s 7ms/step - loss: 0.8829
Epoch 132/150
250/250 [==============================] - 2s 7ms/step - loss: 0.6464
Epoch 133/150
250/250 [==============================] - 2s 9ms/step - loss: 0.7072
Epoch 134/150
250/250 [==============================] - 2s 7ms/step - loss: 0.7930
Epoch 135/150
250/250 [==============================] - 2s 8ms/step - loss: 0.6443
Epoch 136/150
250/250 [==============================] - 2s 8ms/step - loss: 0.7311
Epoch 137/150
250/250 [==============================] - 2s 8ms/step - loss: 0.6167
Epoch 138/150
250/250 [==============================] - 2s 7ms/step - loss: 0.6665
Epoch 139/150
250/250 [==============================] - 2s 9ms/step - loss: 0.6548
Epoch 140/150
250/250 [==============================] - 1s 6ms/step - loss: 0.6919
Epoch 141/150
250/250 [==============================] - 2s 7ms/step - loss: 0.7235
Epoch 142/150
250/250 [==============================] - 2s 6ms/step - loss: 0.7378
Epoch 143/150
250/250 [==============================] - 2s 8ms/step - loss: 0.6591
Epoch 144/150
250/250 [==============================] - 2s 8ms/step - loss: 0.7041
Epoch 145/150
250/250 [==============================] - 2s 8ms/step - loss: 0.7148
Epoch 146/150
250/250 [==============================] - 2s 8ms/step - loss: 0.5943
Epoch 147/150
250/250 [==============================] - 2s 8ms/step - loss: 0.7165
Epoch 148/150
250/250 [==============================] - 2s 8ms/step - loss: 0.7290
Epoch 149/150
250/250 [==============================] - 2s 9ms/step - loss: 0.6907
Epoch 150/150
250/250 [==============================] - 2s 7ms/step - loss: 0.7284

In [61]:
y_test

4132    0
6553    1
7604    1
585     1
5924    0
       ..
193     0
7500    0
2949    0
9842    0
2025    0
Name: Exited, Length: 2000, dtype: int64

In [64]:
yhat = model.predict(X_test)

In [67]:
import numpy as np
yhat= (yhat > 0.5).astype(np.float32)

In [68]:
yhat

array([[0.],
       [0.],
       [0.],
       ...,
       [0.],
       [0.],
       [0.]], dtype=float32)

In [75]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [72]:
accuracy_score(y_test,yhat)

0.761

In [76]:
confusion_matrix(y_test,yhat)

array([[1487,   94],
       [ 384,   35]])